* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-flow: row wrap;
}

.col > img {
  width: 200px;
}

