* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #4c5769;
  color: whitesmoke;
  overflow-y: scroll;
  height: 500px;
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  padding: 30px 30px;
  border-radius: 10px;
  font-family: sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 16px;
}

#form_container {
  display: flex;
  margin: 10px 0px 10px 0px;
}

input,
button {
  outline: none;
  background: none;
  border: none;
  padding: 10px;
}

#input_add_task {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  margin-right: 16px;
}

#input_submit {
  color: darkgrey;
  background-color: #0000005c;
  border-radius: 8px;
}

.tasks {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 15px 0px;
  width: 70%;
}

.content {
  padding-right: 25%;
}

.content input {
    flex: 1 1 0%;
}

.actions button {
  background-color: rgb(179, 168, 168);
  margin: 0px 10px;
  /* color: darkgrey; */
  border-radius: 5px;
}

h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0px 10px 0px;
}
