@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(163, 215, 245);
}

.box {
  background-color: rgb(231, 242, 252);
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
}

h1 {
  margin: 10px 0px;
}

.data-container {
  padding: 10px;
  margin: 10px;
}

label {
  font-size: 20px;
  padding-right: 25px;
  font-weight: 500;
}

input {
  border: none;
  background: none;
  border-bottom: 2px #148de3 solid;
  width: 50%;
  outline: none;
  font-size: 20px;
  text-align: center;
}

.gender {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 6px;
}

.gender input:nth-of-type(1) {
  flex: 1;
}
.gender p:nth-of-type(1) {
  flex: 1;
}
.gender input:nth-of-type(2) {
  flex: 1;
}
.gender p:nth-of-type(2) {
  flex: 1;
}

.text {
  padding: 10px 15px;
}

#submit {
  font-weight: 600;
  font-size: 18px;
  background: none;
  border: none;
  background-color: #2097e4;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
}

.bmi-content,
.comment {
  padding: 10px;
  font-size: 20px;
}

.bmi-result {
  margin: 10px;
  color: #315ae6;
  font-size: 25px;
  font-weight: 700;
}
